/* Write your CSS code here */
.cart-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.cart-img {
  width: 200px;
}

@media screen and (min-width: 768px) {
  .cart-img {
    width: 150px;
  }
}
